@import '../../../../../styles/colors.scss';
@import '../../../../../styles/typography.scss';

.SummaryPaid{
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: .3rem;
    border: 1px solid $grey-2;
    background-color:$white-color;
    padding: 1rem;
    gap:1rem;


    ._divider{
        background-color: $grey-2;
    }

    ._header{
        height: 20%;
        display: flex;
        justify-content: space-between;
        align-items:center;

        ._container{
            display: flex;
            flex-direction: column;
            align-items:center;
            justify-content: center;
            font-size: $body-small;
            font-weight: $medium;
            color:$grey-3;
    
            ._idOrMethod{
                color:$grey-7;
            }
        }

    }

}