@import '../../../../../styles/colors.scss';
@import '../styles/styles.module.scss';

.AdditionalInformation{
    display: flex;
    flex-direction: column;
    gap:.7rem;

    ._container{
        display: flex;
        gap:1rem;

        ._value{
            color:$grey-5;
        }
    }

    animation: appear 1s ease ;
}