@import '../../../../../styles/colors.scss';
@import '../../../../../styles/typography.scss';

.SocialAuth{
    display: flex;
    flex-direction: column;
    gap:.5rem;


    h2{ 
        text-align: center;
        color:$danger-color;
        font-size: $body-medium;
    }

    ._or{
        display: flex;
        align-items:center;
        gap:.6rem;

        ._divider{
            background-color:$grey-3;
        }
    }
}