@import '../../../../../styles/colors.scss';
@import '../../../../../styles/typography.scss';

.BillingAndShipping{
    display: flex;
    border-radius: .3rem;
    border: 1px solid $grey-2;
    background-color:$white-color;
}

@media (max-width: 575.98px) {
    .BillingAndShipping{
        flex-direction: column;
    }  
}