@import '../../../../styles/colors.scss';

.HeaderBottom{
    width: 100%;
    padding-top:.7rem;
    padding-bottom: .7rem; 

    ._container{
        display: flex;
        align-items:center;
        justify-content: space-between;

        ._logo{
            color:$green-9;
        }
    }
}

@media (max-width: 767.98px) {
    .HeaderBottom{
        ._container{
            flex-direction: column;
        }
    }
}