@import '../../../../../styles/colors.scss';

.ProgressTracker{
    width: 100%;
    position: relative;
    align-items:center;
    height: 60px;
    min-width: 500px;

    ._greyLine{
        position: absolute;
        top:15px;
        width: 100%;
        display: flex;
        align-items:center;
        justify-content: center;

        ._line{
            width: 88%;
            height: 10px;
            z-index: 1;
        }

        ._lineFull{
            @extend ._line;
            background-color: $primary-color;
        }
        ._lineHalf{
            @extend ._line;
            background: linear-gradient(to right, $primary-color 50%, $grey-1 50% );
        }
    }
    
    ._points{
        display: flex;
        justify-content: space-between;
    }
}