@import '../../../../../styles/colors.scss';

.ProgressTracker{
    width: 100%;
    position: relative;
    align-items:center;
    height: 60px;
    min-width: 500px;

    ._greyLine{
        // margin-left: 5%;
        position: absolute;
        top:15px;
        width: 100%;
        display: flex;
        align-items:center;
        justify-content: center;


        ._line{
            width: 88%;
            height: 10px;
            background-color:$grey-1;
        }
    }

    ._points{
        display: flex;
        justify-content: space-between;
        // ._orderReceived{
        //     left: 0%;
        // }
    }
}