@import '../../../styles/colors.scss';

.SocialMediaIcons{
    display: flex;
    gap:1.5rem;
    align-items:center;

    ._icon{
        display: flex;
        align-items:center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius:50%;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover{
            background-color:$primary-color;
        }
    }
}