.ProductDetailsButtons{
    display: flex;
    align-items:center;
    padding-top: 1rem;
    gap:1rem;
    ._buttonsHeader{
        display: flex;
        gap:1rem;
        align-items:center;
    }
}

@media (max-width: 575.98px) {
    .ProductDetailsButtons{
        flex-direction: column;
        ._buttonsHeader{
            width: 100%;
            gap:0;
            justify-content: space-between;
        }
    }
}