@import '../../../styles/colors.scss';

.IconAction{
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    display: flex;
    align-items:center;

    &:hover  ._icon{
        stroke:$primary-color;
    }
}