@import '../../../../../styles/colors.scss';
@import '../../../../../styles/typography.scss';

.OurTeam{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: $grey-05;
    
    ._header{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;

        ._title{
            font-size: $heading-01;
            font-weight: $semiBold;
        }
        ._description{
            width: 50%;
            text-align: center;
            color:$grey-5;
        }
    }
}

@media (max-width: 767.98px) {
    .OurTeam{
        ._header{
            ._title{
                font-size: $heading-03;
                text-align: center;
            }
        }
    }
}
@media (max-width: 575.98px) {
    .OurTeam{
        ._header{
            ._title{
                font-size: $heading-05;
                text-align: center;
            }
        }
    }
}