@import '../../../../styles/colors.scss';

.ProductDetailsSlider{
    height: 95%;
    display: flex;
    align-items:center;
    width: 120px;

    ._imageItem{
        border: 1px solid $soft-primary-color;
        border-radius: 5px;

        ._image{
            margin-left: 8px;
            width: 100px;
            height: 100px;
            object-fit: cover;

            &._filter1 {
                filter: grayscale(100%);
            }
            
            &._filter2 {
                filter: sepia(100%);
            }
            
            &._filter3 {
                filter: invert(100%);
            }
            
            &._filter4 {
                filter: hue-rotate(90deg);
            }
        }
    }
}