@import '../../../../styles/typography.scss';
@import '../../../../styles/colors.scss';

.primaryClass{
    display: flex;
    align-items:center;
    gap:.2rem;
    color:$grey-4;
    font-size: $body-small;
}
@media (max-width: 400.98px) {
    .primaryClass{
        font-size:$body-tiny;
    }
}