@import '../../../styles/colors.scss';

.DashboardPage{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: $grey-05;

    ._container{
        display: flex;
        gap:1.5rem;
        
        ._navigation{
            width: 18%;
            min-width: 230px;
        }
    }

}

@media (max-width: 991.98px) {
    .DashboardPage{
        ._container{
            flex-direction: column;
            align-items: center;
            ._navigation{
                width: 100%;
                min-width: none;
            }
        }
    }  
}