@import '../../../styles/colors.scss';

.DashboardPage{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: $grey-05;

    ._navigation{
        width: 18%;
        min-width: 230px;
    }
}