@import '../../styles/styles.module.scss';
@import '../../../../../styles/colors.scss';

.ButtonQuickView{
    @extend ._button;
    background-color:$grey-1;

    &:hover{
        background-color:$primary-color;
    }

    ._buttonQuickViewIcon{
        @extend._buttonIcon;
    }
}

@media (max-width: 767.98px) {
    .ButtonQuickView{
        display: none;
    }
}