@import '../../../styles/colors.scss';
@import '../../../styles/typography.scss';

.OrderDetailDashboardPage{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: .3rem;
    border: 1px solid $grey-2;
    background-color:$white-color;

    ._headerContainer{
        display: flex;
        justify-content: space-between;
        align-items:center;

        ._info{
            color:$grey-6;
            display: flex;
            align-items:center;
            gap: .3rem;

            h1{
                color:$grey-8; 
            }
        }
    }

    ._divider{
        margin-top: .9rem;
        background-color:$grey-2;
        margin-bottom: .9rem;
    }

    ._container{
        height: max-content;
        display: flex;
        gap:1rem;

        ._billingAndShipping{
            width: 70%;
        }
        ._summerPaid{
            width:30%
        }
    }

    ._tracker{
        padding: 2.5rem;
        width: 100%;
        display: flex;
        align-items:center;
        justify-content: center;
    }

    ._table{
        padding-top: 1rem;
        width: 100%;
    }
}