@import '../../../../../styles/colors.scss';
@import '../../../../../styles/typography.scss';
@import '../styles/style.module.scss';

.LowFatMeat{
    @extend ._primaryBackground;

    background-image: url('../../../../../assets/banner/banner-sm-01.webp');

    ._container{
        @extend ._primaryContainer;

        ._started{
            display: flex;
            gap:5px;
            
            ._price{
                font-weight:$semiBold;
                color:$warning-color;
            }
        }

    }
}