@import '../../../../../styles/colors.scss';

.OrderHistoryItemTable{
    background-color:transparent;
    color:$grey-7;
    cursor: default;
    transition:background-color .3s ease;
    

    &:hover{
        background-color:rgb($soft-primary-color, .3)
    }

    ._tdNavlink{
        display: flex;
        justify-content: center;
    }
}