@import '../../../../../styles/colors.scss';
@import '../../../../../styles/typography.scss';

.FollowUsOnInstagram{
    padding-top: 1rem;
    padding-bottom: 3rem;

    ._title{
        font-size: $heading-05;
        font-weight: $semiBold;
        color:$grey-9;
    }
}

@media (max-width: 575.98px) {
    .FollowUsOnInstagram{
        ._title{
            text-align: center;
        }
    } 
}