@import '../../../../../styles/colors.scss';
@import '../../../../../styles/typography.scss';
@import '../styles/style.module.scss';

.Registration{
    @extend .PrimaryLoginAndRegistrationAndReset;

    ._checkboxWrapper{
        display: flex;
        flex-direction: column;
        height: 20px;
        margin-left: -10px;

        ._checkboxError{
            height: 20px;
        }

        ._container{
            display: flex;
            gap:.3rem;

            span{
                margin-top:2px;
            }
        }
    }

}