@import '../../../../styles/typography.scss';

.FeatureCard{
    display: flex;
    align-items:center;
    width:300px;

    ._icon{
        padding: .8rem;
        border-radius:50%;
        display: flex;
        align-items:center;
    }
    ._container{
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        gap: .3rem;

        ._title{
            font-size: $body-medium;
            font-weight: $semiBold;
        }
        ._description{
            font-size: $body-small;
            font-weight: $regular;
        }
    }
}