@import '../../../../styles/colors.scss';
@import '../../../../styles/typography.scss';

.BillingAddressInfo{
    display: flex;
    flex-direction: column;
    font-size: $body-small;

    ._width30{
        width: 30%;
    }

    ._header{
        display: flex;
        justify-content: space-between;
        // width: 100%;
        ._container{
            @extend ._width30;
        
            label{
                span{
                    color:$grey-3;
                }
            }
        }
    }

    ._selects{
        display: flex;
        justify-content: space-between;
        // width: 100%;
        gap:1rem;

        ._item{
            @extend ._width30;
        }
    }

    ._zipCode{
        input{
            text-transform: uppercase
        }
    }

    ._footer{
        display: flex;
        gap:1rem;
        justify-content: space-between;
        ._footerInput{
            width: 50%;
        }
    }
}
