
.OrderHistoryTable{
    display: flex;
    flex-direction: column;
    height: 728px;
    overflow: auto;

    table{
        width: 100%;
        border-collapse: collapse;
        height: max-content;
        min-width: 575px;
        
        td{
            padding: .3rem;
        }
    }
}
._pagButtons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}