
.OrderHistoryTable{
    display: flex;
    flex-direction: column;
    height: 728px;
    overflow-y: auto;

    table{
        width: 100%;
        border-collapse: collapse;
        height: max-content;
    
        td{
            padding: .3rem;
        }
    }

}
._pagButtons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}