@import '../../../../styles/colors.scss';
@import '../../../../styles/typography.scss';
@import '../../../../styles/skeleton.scss';
@import '../../../../styles/common.scss';

.BlogCard{
    min-width:330px;
    border: 1px solid $grey-1;
    border-radius:8px;

    -webkit-box-shadow: 0px 12px 31px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 12px 31px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 12px 31px -10px rgba(0,0,0,0.75);

    ._imgWrapper{
        @extend ._skeleton;
        position: relative;
        overflow: hidden;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        background-color: $white-color;
        aspect-ratio: 13 / 15;
        max-height: 600px;

        img{
            @extend .appearImg;
            width: 100%;
            height: 100%;
            object-fit: cover; 
            transition:transform .4s ease;

            &:hover {
                    transform: scale(1.1);
            }
        }

        ._date{
            position: absolute;
            left: 1.5rem;
            bottom: 1.5rem;
        }
    }

    ._info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 150px;
        padding: .8rem;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        background-color:$white-color;

        ._title{
            font-size: $body-large;
            color:$grey-9;
            font-weight:$semiBold;
            transition:color .4s ease;
        }
    }

    &:hover{
        ._info ._title{
            color: $hard-primary-color;
        }
    }
}

