@import '../../../../../styles/colors.scss';
@import '../../../../../styles/typography.scss';

.BillingInfo{
    background-color: $white-color;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 400px;
    border-radius: .3rem;
    padding: 1.5rem;
    border: 1px solid $grey-1;

    h1{
        padding-bottom: .5rem;
    }

    ._form{
        ._divider{
            margin-top: 1rem;
            background-color: $grey-1;
            margin-bottom: 1rem;
        }

        ._textAreaField{
            font-size: $body-small;
            label{
                span{
                    color:$grey-3;
                }
            }
        }

    }

}