.Info{
    display: flex;
    justify-content: space-between;
    gap:.4rem;
    min-width: max-content;
}

@media (max-width: 400.98px) {
    .Info{
        flex-direction: column;
        align-items:center;
        margin-bottom: .3rem;
    }
}