@import '../../../../styles/typography.scss';
@import '../../../../styles/colors.scss';

.TimerOne{
    display: flex;
    flex-direction: column;
    width: 40px;
    
    ._time{
        font-weight: $regular;
        font-size: $body-xxl;
    }

    ._label{
        font-weight: $tiny;
        font-size: $body-tiny;
        color:$grey-05 !important;
    }

}