@import '../../../../styles/typography.scss';
@import '../../../../styles/colors.scss';

.TimerOne{
    display: flex;
    flex-direction: column;
    width: 40px;
    
    ._time{
        font-weight: $regular;
        font-size: $body-xxl;
    }

    ._label{
        font-weight: $tiny;
        font-size: $body-tiny;
    }

}


@media (max-width: 1892.98px) {
    .TimerOne{
        ._time{
            font-size: $heading-05;
        }
        ._label{
            font-size: $body-medium;
        }
    }
}
@media (max-width: 943.98px) {
    .TimerOne{
        ._time{
            font-size: $body-xxl;
        }
        ._label{
            font-size: $body-tiny;
        }
    }
}