@import '../../../../../styles/colors.scss';
@import '../../../../../styles/typography.scss';

.PaidProductsTable{
    width: 100%;
    background-color:$grey-1;
    color:$grey-7;
    cursor: default;
    border-collapse: collapse;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;

    tr,td,th{
        padding:.5rem;
        text-align: left;
    } 
}
