@import '../../../../../styles/colors.scss';
@import '../../../../../styles/typography.scss';

._navLink{
    text-decoration: none;
}
.DashboardNavigationItem{
    display: flex;
    padding: .7rem;
    color:$grey-5;
    letter-spacing: 0rem;
    border-left: 3px solid transparent;
    background-color:transparent;
    transition:  letter-spacing .5s ease, color .3s ease,border-left .3s ease,background-color .5s ease ;
    cursor: pointer;

    ._icon{
        width: 20px;
        margin-right: .5rem;
        fill:$grey-3;
        transition: fill .3s ease;
    }

    &:hover{
        color:$grey-8;
        letter-spacing: .1rem;
        border-left: 3px solid $primary-color;
        background-color:rgb($soft-primary-color, .2);

        ._icon{
            fill:$grey-8;
        }
    }

}
