
.ShopPage{
    padding-top: 2rem;
    padding-bottom: 2rem;

    ._container{
        display: flex;
        gap:1rem;

        ._wrapper{
            width: 20%;
            min-width: 220px;
            display: flex;
            flex-direction: column;
            gap:1rem; 

            ._filters{
                margin-bottom: 2rem;
                width: 100%;
                height: max-content;
            }
        }

        ._content{
            width: 80%;
        }
    }
}