
.ShopPage{
    padding-top: 2rem;
    padding-bottom: 2rem;

    ._container{
        display: flex;
        gap:1rem;

        ._wrapper{
            width: 20%;
            min-width: 220px;


            ._filters{
                margin-bottom: 2rem;
                width: 100%;
                height: max-content;
            }
        }


    }
}