
.ShopPage{
    padding-top: 2rem;
    padding-bottom: 2rem;

    ._container{
        display: flex;
        gap:1rem;

        ._wrapper{
            width: 20%;
            min-width: 220px;
            display: flex;
            flex-direction: column;
            gap:1rem; 

            ._additionalInfo{
                display: flex;
                flex-direction: column;
                gap:1rem; 
            }
        }

        ._content{
            width: 80%;
        }
    }
}

@media (max-width: 767.98px) {
    .ShopPage{
        ._container{
            width: 100%;
            justify-content: center;
            gap:0;
            ._wrapper{
                width: 0px;
                min-width: 0px;
                ._additionalInfo{
                    display: none;
                }
            }
            ._content{
                width: 100%;
            }
        }
    } 
}