@import '../../../../../styles/colors.scss';
@import '../../../../../styles/typography.scss';

.RecentOrderHistory{
    width: inherit;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: .3rem;
    border: 1px solid $grey-2;
    background-color:$white-color;
    overflow-x: auto;

    ._header{
        display: flex;
        justify-content: space-between;
        min-width: 575px;

        h1{
            color:$grey-8;
        }
    }

    table{
        width: 100%;
        border-collapse: collapse;
        min-width: 575px;
        td{
            padding:.3rem;
        }
    }
}