@import '../../../../../styles/colors.scss';
@import '../../../../../styles/typography.scss';

.BillingAddress{
    height: inherit;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    min-width: 300px;
    border: 1px solid $grey-2;
    background-color: $white-color;
    border-radius: .3rem;
    gap:1rem;


    ._title{
        color:$grey-4;
        font-weight: $medium;
        text-align: center;
    }

    ._name{
        color:$hard-primary-color;
        font-size: $body-xl;
        font-weight: $medium;
    }
    ._address{
        color:$grey-6;
    }

    ._navLink{
        width: max-content;
        margin-top: 1rem;
        text-decoration: none;
        font-size: $body-large;
        font-weight: $medium;
        color:$primary-color;
        letter-spacing: 0rem;
        cursor: pointer;
        transition: color .3s ease,letter-spacing .3s ease;

        &:hover{
            color:$hard-primary-color;
            letter-spacing: .1rem;
        }
    }
}