@import '../../../../../styles/colors.scss';

.FeaturedProducts{
    background-color:$white-color;
    padding-top: 3rem;

    ._cards{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}