@import '../../../../styles/colors.scss';
@import '../../../../styles/typography.scss';

.ProductDetailsHeader{
    display: flex;
    flex-direction: column;
    gap:.3rem;

    ._title{
        display: flex;
        align-items:start;
        justify-content: space-between;
        gap:1rem;
        h2{
            max-width: 80%;
        }

        ._labelBadge{
            margin-top: .3rem;
            font-size: $body-small;
        }

        ._labelBadgeInStock{
            @extend ._labelBadge;
            color:$hard-primary-color;
            background-color: rgb($soft-primary-color, .4);
        }
        ._labelBadgeOutOfStock{
            @extend ._labelBadge;   
            color:$danger-color;
            background-color: rgb($danger-color, .4);
        }
    }

    ._info{
        display: flex;
        align-items: center;
        gap:.5rem;
        font-size: $body-small;
        color:$grey-5;
        ._statistic{
            display: flex;
            gap:.5rem;
            ._sku{
                color:$grey-9;
            }
        }

    }

    ._price{
        display: flex;
        align-items: center;
        gap:.5rem;
        font-size: $body-xl;
        color:$hard-primary-color;
        font-weight: $medium;

        ._oldCost{
            color:$grey-3;
            text-decoration: line-through;
        }

        ._labelSale{
            color:$danger-color;
            background-color: rgb($danger-color, .2);
            border-radius: 1rem;
            font-size: $body-tiny;
        }
    }
}
@media (max-width: 1399.98px) {
    .ProductDetailsHeader{
        margin-top: 2rem;
    }
}
@media (max-width: 575.98px) {
    .ProductDetailsHeader{
        ._title{
            align-items:center;
            flex-direction: column;
            text-align: center;
            h2{
                max-width: 100%;
            }
        }
        ._info{
            align-items:center;
            flex-direction: column;
        }
        ._price{
            justify-content: center;
        }
    }
}