@import '../styles/colors.scss';
@import '../styles/typography.scss';


.defaultButtonStyle{
  cursor: pointer;
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-shadow: none;
  outline: none;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

.SingInSingOut{
  @extend .defaultButtonStyle;

    appearance: none;
    background: none;
    border: none;

    font-size: $body-tiny;
    font-weight: $regular;
    color:$grey-3;

    &:hover{
        color:$grey-1;
    }
}

.Search{
  @extend .defaultButtonStyle;
  height: 100%;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  border: none;
  border-radius: 0px 6px 6px 0px;
  background-color:$primary-color;

      &:hover{
        background-color:$hard-primary-color;
    }
}

.ButtonFilledOval{
  @extend .defaultButtonStyle;
  height: 100%;
  border-radius: 30px;
  border: none;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  font-size: $body-medium;
  font-weight: $medium;
}

.ButtonTransparent{
  @extend .defaultButtonStyle;
  height: 100%;
  border: none;
  background-color:transparent;
  font-size: $body-medium;
  font-weight: $medium;

  &:hover{
    filter: brightness(70%);
  }
}




.fillGreen{
  background-color:$primary-color;

  &:hover{
    background-color:$hard-primary-color;
  }
}
.fillWhite{
  background-color:$white-color;

  &:hover{
    background-color:$grey-1;
  }
}


.colorTextGrey1{
  color:$grey-1;
}
.colorTextGreenPrimary{
  color:$primary-color;
}