$soft-primary-color:#84D187;
$primary-color:#00B207;
$hard-primary-color:#2C742F;
$warning-color:#FF8A00;
$danger-color:#EA4B48;
$info-color:#2388FF;
$white-color:#FFFFFF;

$grey-9:#191919;
$grey-8:#333333;
$grey-7:#4C4C4C;
$grey-6:#666666;
$grey-5:#7F7F7F;
$grey-4:#999999;
$grey-3:#B3B3B3;
$grey-2:#CCCCCC;
$grey-1:#E6E6E6;
$grey-05:#F2F2F2;

$green-9:#002602;
$green-8:#173B1A;
$green-7:#2B572E;
$green-6:#406B42;
$green-5:#617F62;
$green-4:#7A997C;
$green-3:#96B297;
$green-2:#B3CCB4;
$green-1:#DAE5DA;
$green-05:#EDF2EE;