@import '../styles/typography.scss';
@import '../styles/colors.scss';


input{
    padding-left: 18px;
    margin: 6px;
    width: 97%;
    height: 80%;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: $body-medium;
    background-color:transparent;
}

textarea{
    @extend input;
    @extend .DefaultBorderStyle;
    margin: 0px;
    padding: 12px 12px 12px 24px;
    height: 100px;
    resize: none;
}

.DefaultBorderStyle{
    width: 100%;
    border:1px solid $grey-2;
    display: flex;
    align-items:center;
    transition:border .3s ease;

    &:hover{
        border:1px solid $primary-color;
    }
}


._searchInput{
    border-right: none !important;
    border-top-left-radius:6px;
    border-bottom-left-radius:6px;
}
._invalidSearchInput{
    @extend ._searchInput;
    border:1px solid $danger-color;
}
._searchInputBlog{
    border-radius:6px;
}

._subscribeInput{
    background-color:$white-color;
    height: 100%;
    border-radius:30px;
    border:1px solid $grey-2;
}
._invalidSubscribeInput{
    @extend ._subscribeInput;
    border:1px solid $danger-color;
}

._couponCodeFieldInput{
    @extend ._subscribeInput;
}
._invalidCouponCodeFieldInput{
    @extend ._subscribeInput;
    border:1px solid $danger-color;
}


._warningInput{
    border-radius:6px;
    border:1px solid $warning-color;
}
._errorInput{
    border-radius:6px;
    border:1px solid $danger-color !important;
}
