@import '../styles/colors.scss';
@import '../styles/typography.scss';


._navLink{
    text-decoration: none;
    // border:3px solid red;
    :visited {
        text-decoration-color: initial;
    }
}

._navLinkGreenPrimary{
    @extend ._navLink;

    color:$primary-color;
    font-weight: $medium;
    transition: color .3s ease ;

    &:hover{
        color:$hard-primary-color;
    }
}

._navLinkGreenPrimaryLetterSpacing{
    @extend ._navLinkGreenPrimary;
    letter-spacing: 0;
    transition:letter-spacing .3s ease, color .3s ease ;

    &:hover{
        letter-spacing: .1rem;
    }
}

._sizeLarge{
    font-size: $body-large; 
}

