@import '../styles/colors.scss';
@import '../styles/typography.scss';

a{
    text-decoration: none;
    color:inherit;   
}

._navLink{
    font-weight: $medium;
    transition: color .3s ease ;
    :visited {
        text-decoration-color: initial;
    }
}

._navLinkGreenPrimary{
    @extend ._navLink;

    color:$primary-color;

    &:hover{
        color:$hard-primary-color;
    }
}

._navLinkBlackPrimary{
    @extend ._navLink;

    color:$grey-8;

    &:hover{
        color:$grey-6;
    }
}

._navLinkLetterSpacing{
    letter-spacing: 0;
    transition:letter-spacing .3s ease, color .3s ease ;

    &:hover{
        letter-spacing: .1rem;
    }
}

._navLinkGreenPrimaryLetterSpacing{
    @extend ._navLinkGreenPrimary;
    @extend ._navLinkLetterSpacing;
}

._navLinkBlackPrimaryLetterSpacing{
    @extend ._navLinkBlackPrimary;
    @extend ._navLinkLetterSpacing;
}

._sizeLarge{
    font-size: $body-large; 
}


