$tiny:200;
$regular:400;
$medium:500;
$semiBold:600;

$display-01: clamp(3.5rem, 4.5rem, 4.5rem);

$heading-01: clamp(2.5rem, 3.5rem, 3.5rem);
$heading-02: clamp(2rem, 3rem, 3rem);
$heading-03: clamp(1.75rem, 2.5rem, 2.5rem);
$heading-04: clamp(1.625rem, 2.25rem, 2.25rem);
$heading-05: clamp(1.5rem, 2rem, 2rem);

$body-xxl: clamp(1rem, 1.5rem, 1.5rem);
$body-xl: clamp(0.875rem, 1.25rem, 1.25rem);
$body-large: clamp(0.75rem, 1.125rem, 1.125rem);
$body-medium: clamp(0.625rem, 1rem, 1rem);
$body-small: clamp(0.5rem, 0.875rem, 0.875rem);
$body-tiny: clamp(0.375rem, 0.75rem, 0.75rem);

