$tiny:200;
$regular:400;
$medium:500;
$semiBold:600;

$display-01:4.5rem;

$heading-01:3.5rem;
$heading-02:3rem;
$heading-03:2.5rem;
$heading-04:2.25rem;
$heading-05:2rem;

$body-xxl:1.5rem;
$body-xl:1.25rem;

$body-large:1.125rem;

$body-medium:1rem;

$body-small:0.875rem;

$body-tiny:0.75rem;

