@import '../../../../../styles/colors.scss';
@import '../../../../../styles/typography.scss';

.Icon{
    width: 33px;
    height: 33px;
    border-radius:50%;
    background-color: $grey-05;
    display: flex;
    justify-content: center;
    align-items:center;

    span{
        font-size: $body-large;
        font-weight: $medium;
    }
}

.QuantityIcon{
    @extend .Icon;
    cursor: pointer;

    &:active span{
        color:$grey-6;
        font-size: $body-xxl;
    }
}

.QuantityIconDisabled{
    @extend .Icon;
    cursor: not-allowed;

}