@import '../../../../../styles/colors.scss';
@import '../../../../../styles/typography.scss';

.LatestNews{
    padding-top: 3rem;
    background-color:$white-color;
    padding-bottom: 3rem;

    ._title{
        width: 100%;
        padding-bottom: 1rem;
        display: flex;
        align-items:center;
        justify-content: center;
        font-size: $heading-05;
        font-weight: $semiBold;
        color:$grey-9;
    }

    ._cards{
        // display: flex;
        width: 100%;
        // justify-content: space-between;
        // // justify-content: center;
        // flex-wrap: wrap;
        // align-items:center;

        // ._card{
        //     width: 31%;
        // }
        
    }
}