@import '../../../styles/colors.scss';

.Feature{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 2rem 1rem 2rem;

    ._description{
        color:$grey-5;
    }
}

@media (max-width: 991.98px) {
    .Feature{
        justify-content: center;
    }
}
