@import '../../../../../../styles/colors.scss';
@import '../../../../../../styles/typography.scss';

.BestDeal{
    width: 100%;
    height: 50%;
    background-image: url('../../../../../../assets/banner/banner-sm-04.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius:10px;

    ._container{
        padding: 1rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items:center;
        color:$white-color;

        ._title{
            font-size: $body-medium;
            font-weight: $medium;
        }
        
        ._description{
            text-align: center;
            font-size: $heading-05;
            font-weight: $semiBold;
        }

    }
}