@import '../../../../../styles/colors.scss';
@import '../../../../../styles/typography.scss';
@import '../styles/styles.module.scss';

.AccountSettings{

    @extend .SettingsStyles;

    ._form{
        padding: 1rem;
        
        ._container{
            display: flex;
            
            ._info{
                width: 60%;
            }
    
            label{
                font-size: $body-small;
                font-weight: $regular;
                color:$grey-9;
            }
        }
    }
}
