@import '../../../styles/colors.scss';
@import '../../../styles//typography.scss';

.Footer{
    display: flex;
    flex-direction: column;
    background-color:$grey-9;
    // padding-top: 2rem;
    // padding-bottom: 1rem;
}