@import '../../../styles/colors.scss';
@import '../../../styles/typography.scss';

.SettingsDashboardPage{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:1.5rem;

    ._account{
        width: 100%;
        display: flex;
        gap:1rem;

    }
}