@import '../../../../../styles/colors.scss';


.HotDeals{
    background-color: $grey-1;
    padding-top: 2rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items:center;

    ._container{
        height: max-content;
        display: inline-flex;
        justify-content: center;
        width: 100%;

        ._bigCard{
            height: 100%;
            width: 67%;
            min-width: 520px;
            background-color:$white-color;
        }

        ._cards{
            width: 100%;
            height: max-content;
            display: flex;
            flex-wrap: wrap;

        }

    }
}

@media (max-width: 991.98px) {
    .HotDeals{
        ._container{
            display: flex;
            flex-direction: column;
            align-items:center;
        }
        ._cards{
            justify-content: center;
        }
    }
}

