@import '../../../../styles/colors.scss';
@import '../../../../styles/typography.scss';

.Newsletter{
    
    background-color:$grey-1;

    ._conatiner{
        display: flex;
        justify-content: space-between;
        align-items:center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        gap:2rem;

        ._SubcribeOurNewsletter{
            display: flex;
            flex-direction: column;
            max-width: 30%;

            ._title{
                font-size: $body-xxl;
                font-weight: $semiBold;
                color:$grey-9;
            }
            ._description{
                font-size: $body-small;
                font-weight: $regular;
                color:$grey-4;
            }
        }
    }
}

@media (max-width: 991.98px) {
    .Newsletter{
        ._conatiner{
            flex-direction: column;

            ._SubcribeOurNewsletter{
                max-width: 85%;
                text-align: center;
            }
        }
    }   
}
