@import '../../../../styles/colors.scss';
@import '../../../../styles/typography.scss';


.ProductModal{
    position: fixed;

    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 33;
    position: fixed;
    top: 0;
    left: 0;

    ._container{
        height: inherit;
        width: max-content;
        margin:auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        animation: slideTop .5s ease forwards;

        ._closeModal{
            width: 100%;
            display: flex;
            justify-content: end;

            span{
                color:$white-color;
                font-size: $heading-05;
                transition: color .3s ease;
                cursor: pointer;

                &:hover{
                    color:$primary-color;
                }
            }
        }
        ._wrapper{
            display: flex;
            height: max-content;
            padding: 1rem;
            background-color:$white-color;
            border-radius: .3rem;
            ._img{
                img{
                    height: 400px;
                }
            }
            
        }

    }
}

@keyframes slideTop {
    0%{ 
        transform: translateY(50px);
    }

    100%{
        transform: translateY(0);
    }
}

._showProductModal{
    animation: fadeIn .5s ease forwards;
}

._hideProductModal{
    animation: fadeOut .3s ease forwards;
}

@keyframes fadeIn {
    0%{ 
        background-color: rgba(0, 0, 0, 0);
     }
    100%{ 
        background-color: rgba(0, 0, 0, 0.5);
     }
}

@keyframes fadeOut {
    0%{ 
        background-color: rgba(0, 0, 0, 0.5);
        opacity:1;
    }

    100%{
        background-color: rgba(0, 0, 0, 0);
        opacity:0;
        display: none;
    }
}
