@import '../../../../styles/colors.scss';
@import '../../../../styles/typography.scss';

.FooterBottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

    color:$grey-5;
    font-weight:$regular;
    font-size:$body-small;
}

@media (max-width: 575.98px) {
    .FooterBottom{
        flex-direction: column;
    } 
}