@import '../../../styles/typography.scss';

._container{
    height: 70dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    ._error{
        width: max-content;
        display: flex;
        flex-direction: column;
        align-items:center;
        gap:1rem;

        span{
            font-size:$heading-05;
        }
    }

}