@import '../../../../styles/colors.scss';
@import '../../../../styles/typography.scss';

.BigProductCard{
    width: 100%;
    height: 620px;
    border: 1px solid $grey-1;
    padding: 1rem;
    border-radius:2px;
    cursor: pointer;
    transition:border .4s ease;

    &:hover{
        border: 1px solid $primary-color;
        -webkit-box-shadow: 0px 0px 3px 1px $soft-primary-color;
        -moz-box-shadow: 0px 0px 3px 1px $soft-primary-color;
        box-shadow: 0px 0px 3px 1px $soft-primary-color; 
    }
    ._img{
        position: relative;
        width: 100%;
        height: 48%;
        display: flex;
        justify-content: center;

        ._wrapperLabels{
            display: flex;
            position: absolute;
            gap:.6rem;
            left: 0;
            color:$white-color;

            ._bestSale{
                background-color:$info-color;
            }
            ._saleDiscount{
                background-color:$danger-color;
            }
        }
        img{
            width: 100%;
            object-fit:contain;
        }
    }

    ._buttonsWrapper{
        width: 100%;
        height: 40px;
        display: flex;
        gap:1rem;
        align-items:center;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    ._wrapperInfo{
        height: 30%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items:center;

        ._name{
            font-size:$body-large;
            color:$hard-primary-color;
        }

        ._cost{
            font-size:$body-xxl;
            display: flex;
            gap:.5rem;

            ._old{
                color:$grey-3;
                text-decoration: line-through;
            }
        }
    }
    ._hurryUp{
        display: flex;
        justify-content: center;
        color:$grey-3;
    }
}


@media (max-width: 559.98px) {
    .BigProductCard{
        height: 720px;
        flex-direction: column;
        ._img{
            height: min-content;
        }
        ._buttonsWrapper{
            flex-direction: column;
            height: max-content;
        }
        ._wrapperInfo{
            height: 20%;
            text-align: center;
        }
    }

}