@import '../../../../styles/colors.scss';
@import '../../../../styles/typography.scss';

.ProductDetailsDescription{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 670px;
    min-width: 500px;

    ._header{
        display: flex;
        align-items:center;
        justify-content: space-between;
        padding-bottom: 1rem;
        font-size: $body-small;

        ._brand{
            display: flex;
            align-items:center;
            gap:.5rem;

            ._brandIcon{
                width: 65px;
            }
        }

        ._share{
            display: flex;
            align-items:center;
            gap:.5rem;
        }
    }

    ._description{
        color:$grey-5;
        font-size: $body-small;
        min-height: 80px;
    }
}

@media (max-width: 1399.98px) {
    .ProductDetailsDescription{
        max-width: 100%;
        min-width: 100px;
    }
}

@media (max-width: 575.98px) {
    .ProductDetailsDescription{

        ._header{
            flex-direction: column;
            align-items: flex-start;
        }
    }
}