@import '../../../../styles/colors.scss';
@import '../../../../styles/typography.scss';

.text{
    font-size: $body-tiny;
    font-weight: $regular;
    color:$grey-3;

    &:hover{
        color:$grey-1;
    }
}

