

.CheckoutPage{
    padding-top: 3rem;
    padding-bottom: 3rem;

    ._container{
        display: flex;
        gap:1rem;

        
        ._billingInfo{
            width: 73%;
        }
        ._orderSummery{
            width: 27%;

        }
    }
}