@import '../../../styles/colors.scss';
@import '../../../styles/typography.scss';

.ErrorBoundary{
    display: flex;
    flex-direction: column;

    ._container{
        padding-top: 3rem;
        padding-bottom: 3rem;
        display: flex;
        flex-direction: column;
        align-items:center;
        text-align: center;
        gap:1rem;
        color:$grey-4;

        ._tittle{
            color:$grey-9;
            font-size: $heading-01;
            font-weight: $semiBold;
        }

        img{
            width: 30%;
        }

        ._navLink{
            text-decoration: none;
        }
    }

    ._divider{
        background-color:$grey-1;
    }
}