@import '../../../../../styles/colors.scss';

.Brand{
    padding-top: 3rem;
    padding-bottom: 3rem;

    ._container{
        display: flex;
        align-items: center;
        justify-content: space-between;

        ._divider{
            background-color:$grey-2;
        }
    }
}