
.SubscribePanel{
    display: flex;
    width: 480px;
    min-width: 240px;
    height: 50px;
    position: relative;

    ._input{
        width: 95%;
    }
    ._button{
        position: absolute;
        right: 0;
        height: 100%;
    }
}

@media (max-width: 575.98px) {
    .SubscribePanel{
        width: 355px;
    }
}
@media (max-width: 359.98px) {
    .SubscribePanel{
        width: 255px;
    }
}
