@import '../../../../../../../styles/colors.scss';
@import '../../../../../../../styles/typography.scss';

.AboutCenter{
    display: flex;
    height: 650px;
    position: relative;

    ._background{
        display: flex;
        justify-content: end;
        width: 55%;
        height: inherit;
        background-image: url('../../../../../../../assets/persons/person1WithBackground.webp');
        background-size: cover;
        background-position: center;
    }

    ._container{
        width: 100%;
        height: inherit;
        position: absolute;
        padding-top: 2rem;
        display: flex;
        justify-content: end;

        ._content{
            width: 40%;
            min-width: 670px;
            display: flex;
            flex-direction: column;
            margin-right: 14%;

            ._title{
                color:$hard-primary-color;
                font-size: $heading-01;
                font-weight: $semiBold;
            }
        }
    }
}

@media (max-width: 1599.98px) {
    .AboutCenter{
        height: 700px;
        ._background{
            width: 100%;
            &:before{
                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background:rgba(0, 0, 0, 0.235);
            }
        }
        ._container{
            width: 100%;
            justify-content: center;
            align-items:center;
            ._content{
                width: 80%;
                min-width: min-content;
                margin-right: 0;
                color:$white-color;

                ._title{
                    text-align: center;
                    color:$white-color;
                }
                ._feature{
                    margin-top: 1rem;
                    color:$grey-9;
                    background-color:rgba(255, 255, 255, 0.63);
                    border-radius:1rem;
                    backdrop-filter: blur(6px);
                }
            }
        }
    }
}
@media (max-width: 991.98px) {
    .AboutCenter{
        ._container{
            ._content{
                align-items:center;
                ._feature{
                    max-width: min-content;
                }
            }
        }
    }
}
@media (max-width: 767.98px) {
    .AboutCenter{
        ._container{
            ._content{
                ._title{
                    font-size:$heading-05;
                }
            }
        }
    }
}
@media (max-width: 575.98px) {
    .AboutCenter{
        ._container{
            ._content{
                ._title{
                    font-size:$body-xxl;
                }
            }
        }
    }
}

@media (max-width: 359.98px) {
    .AboutCenter{
        height: 1100px;
    }
}