@import '../../../../styles/colors.scss';
@import '../../../../styles/typography.scss';
@import '../styles/styles.module.scss';

.WishlistCard{
    @extend ._shoppingAndWishlist;

    ._costContainer{
        @extend ._costContainer;
        width: 30%;
    }
    ._status{
        width: 15%;
        display: flex;
        align-items:center;
        font-size: $body-small;

        ._inStock{
            background-color:rgb($soft-primary-color, .5);
            color:$primary-color;
        }
        ._outOfStock{
            background-color:rgb($danger-color, .5);
            color:$danger-color;
        }
    }
    ._toggle{
        width: 160px;
    }
}

@media (max-width: 1399.98px) {
    ._removeButton{
        ._cross{
            right:16px;
        }
    }
    .WishlistCard{
        ._costContainer{
            width: 20%;
        }
        ._shoppingAndWishlist{
            ._product{
                width: 43%;
            }
        }
    }
}
@media (max-width: 1199.98px) {
    ._removeButton{
        ._cross{
            top:8px;
            right:30px;
        }
    }
}
@media (max-width: 991.98px) {
    .WishlistCard{
        display: flex;
        gap:.5rem;
        ._costContainer{
            width: 100%;
            justify-content: center;
        }
        ._status{
            width: 100%;
            justify-content: center;
        }
        ._product{
            display: flex;
            flex-direction: column;
        }
    }
}
