

.ContactPage{
    padding-top: 5rem;

    ._container{
        display: flex;
        gap:2rem
    }
}

@media (max-width: 991.98px) {
    .ContactPage{
        ._container{
            flex-direction: column;
        }
    }
}