@import '../../../../styles/colors.scss';
@import '../../../../styles/typography.scss';


.PopularProductsCard{
    position: relative;
    width: 20%;
    min-width: 200px;
    background-color:$white-color;
    display: flex;
    flex-direction: column;
    border: 1px solid $grey-1;
    padding: 1rem;
    border-radius:2px;
    cursor: pointer;
    color:$grey-9;

    &:hover{
        border: 1px solid $primary-color;
        -webkit-box-shadow: 0px 0px 3px 1px $soft-primary-color;
        -moz-box-shadow: 0px 0px 3px 1px $soft-primary-color;
        box-shadow: 0px 0px 3px 1px $soft-primary-color; 

        ._name{
            color:$primary-color;
        }
    }

    ._label{
        position: absolute;
        left: 10px;
        background-color: $danger-color;
        color:$white-color;
    }

    ._name{
        font-size: $body-small;
        font-weight: $regular;
        color:$grey-4;
    }

    
    ._costWrapper{
        display: flex;
        gap:7px;
        font-size: $body-medium;
        font-weight: $medium;
        
        ._currentConst{
            color:$grey-9;
        }
        ._oldCost{
            color:$grey-4;
            text-decoration: line-through;
        }
    }
}