@import '../../../../styles/colors.scss';
@import '../../../../styles/typography.scss';
@import '../styles/styles.module.scss';

.ShoppingCartCard{
    @extend ._shoppingAndWishlist;

    ._costContainer{
        @extend ._costContainer;
        width: 20%;
    }
    ._quantity{
        width: 25%;
        display: flex;
    }
    ._subtotal{
        width: 17%;
    }
}

@media (max-width: 991.98px) {
    ._commonItem{
        width: 100%;
        justify-content: center;
    }
    .ShoppingCartCard{
        gap:.5rem;
        ._costContainer{
            @extend ._commonItem;
        }
        ._quantity{
            @extend ._commonItem;
        }
        ._subtotal{
            @extend ._commonItem;
        }
    }
}