
.PopularCategories{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    
    ._center{
        display: flex;
        align-items:center;
        justify-content: center;

        ._cards{
            gap:10px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

}

@media (max-width: 767.98px) {
    .PopularCategories{
        ._center{
            display: flex;
            ._cards{
                flex-direction: column;
                width: 100%;
            }
        }
    }


}