@import '../../../../../styles/colors.scss';
@import '../../../../../styles/typography.scss';
@import '../styles/styles.module.scss';

.ChangePasswordSettings{

    @extend .SettingsStyles;

    ._form{
        padding: 1rem;

        ._container{
            width: 100%;
            display: flex;
            gap:1rem;

            ._new{
                width: 50%;
            }
            ._confirm{
                width: 50%;
            }
        }
    }

}   