@import '../../../../../styles/colors.scss';
@import '../../../../../styles/typography.scss';
@import '../styles/styles.module.scss';

.ChangePasswordSettings{

    @extend .SettingsStyles;

    ._form{
        padding: 1rem;

        ._container{
            width: 100%;
            display: flex;
            gap:1rem;

            ._new{
                width: 50%;
            }
            ._confirm{
                width: 50%;
            }
        }
    }

}  

@media (max-width: 767.98px) {
    .ChangePasswordSettings{
        ._form{
            ._container{
                flex-direction: column;
                gap:0;
                ._new{
                    width: 100%;
                }
                ._confirm{
                    width: 100%;
                }
            }
        }
    }
}