@import '../../../../../styles/colors.scss';
@import '../../../../../styles/typography.scss';

.SaleOfTheMonth{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 31%;
    min-width: 250px;
    height: inherit;
    background-image: url('../../../../../assets/banner/banner-sm-03.webp');
    border-radius: 10px;

    ._container{
        padding-top: 2rem;
        width: 100%;
        height: 48%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        color:$grey-05;
        text-align: center;

        ._preTitle{
            font-weight:$medium;
        }

        ._title{
            font-weight:$semiBold;
            font-size: $heading-03;
        }

        ._wrapperButton{
            height: 40px;

        }
    }
}