@import '../../../../../styles/colors.scss';
@import '../../../../../styles/typography.scss';

.HeaderShop{
    width: 100%;
    display: flex;
    justify-content: space-between;





    ._results{
        display: flex;
        gap:.5rem;
        color:$grey-5;

        ._count{
            color:$grey-8;
            font-weight: $medium;
        }
    }
}