@import '../../styles/styles.module.scss';

.CategoriesFilter{
    display: flex;
    flex-direction: column;

    &._form{
        padding-top: 1rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        gap:.7rem;
    }
}