@import '../../../../styles/colors.scss';
@import '../../../../styles/typography.scss';
@import '../../../../styles/skeleton.scss';

.HeaderTop{
    width: 100%;
    height: 70px;

    background-color:$grey-8;
    padding-top: 1rem;
    padding-bottom: 1rem;

    ._container{
        display: flex;
        justify-content: space-between;
    }

    ._loading{
        @extend ._skeleton;
        width: 120px;
        height: 35px;
        border-radius:.3rem;
        background-color:$grey-7;
    }

    ._error{
        display: flex;
        align-items:center;
        gap:.5rem;
        height: 40px;
    }
}

@media (max-width: 767.98px) {
    .HeaderTop{
        ._container{
            justify-content: flex-end;
        }
    }
}