@import '../../../../styles/inputs.scss';
@import '../../../../styles/typography.scss';

.SelectFormField{
    width: 100%;

    select{
        height: 40px;
        min-width: 100px;
        width: inherit;
        border:1px solid $grey-2;
        border-radius:.3rem;
        display: flex;
        align-items:center;
        font-size: $body-medium;
        color:$grey-6;
        outline: none;
        padding-left: 1rem;

        transition:border .3s ease;
    
        &:hover{
            border:1px solid $primary-color;
        }
    }


}