@import '../../../../../styles/typography.scss';
@import '../../styles/styles.module.scss';

.RatingItem{
    display: flex;
    align-items:center;
    gap:.4rem;

    ._rating{
        display: flex;
        align-items:center;
        font-size: $body-small;
        gap:.4rem;
    }
}