@import '../../../styles/typography.scss';

.Logo{
    display: flex;
    align-items: center;
    gap:.4rem;
    font-size:$heading-05;
    font-weight: $semiBold;
}

@media (max-width: 1199.98px) {
    .Logo{
        span{
            display: none;
        }
    }
}
@media (max-width: 767.98px) {
    .Logo{
        display: none;
    } 
}