@import '../../../../../styles/colors.scss';
@import '../../../../../styles/typography.scss';
@import '../styles/style.module.scss';

.Login{
    @extend .PrimaryLoginAndRegistration;

    ._container{
        height: 15px;
        display: flex;
        justify-content: space-between;
        align-items:center;

        ._forgetPassword{
            cursor: pointer;
            transition: color .3s ease;

            &:hover{
                color:$grey-9;
            }
        }
    }
}