@import './styles/colors.scss';
@import './styles/typography.scss';

.App{

       
    .header{
        width: 100%;
        background-color:$grey-8;
    }
    .container{
        display: flex;
        justify-content: space-between;
        font-size: $heading-05;
        font-weight: $medium;
    }
    .left{
        background-color: rgba(0, 0, 255, 0.411);
        display: flex;
        .map-pin-icon{
            width: 15px;
            height: 18px;
        }
    }
    .right{
        background-color: rgba(255, 0, 170, 0.411);

    }
}