
.ShoppingCartPage{
    padding-top: 3rem;
    padding-bottom: 3rem;

    h1{
        text-align: center;
        padding-bottom:2rem;
    }

    ._container{
        display: flex;
        gap:1rem;
    }
}