@import '../../../styles/colors.scss';

.ProductDetails{
    display: flex;
    height: max-content;
    justify-content: space-between;
    background-color:$white-color;
    border-radius: .3rem;

    &._pageViewMode{
        padding-top: 2rem;
    }
    &._modalViewMode{
        padding: 2rem;
    }

    ._img{
        img{
            height: 400px;
        }
    }
}