@import '../../../styles/colors.scss';

.ProductDetails{
    display: flex;
    height: max-content;
    justify-content: space-between;
    background-color:$white-color;
    border-radius: .3rem;
    max-width: 1300px;

    &._pageViewMode{
        padding-top: 2rem;
    }
    &._modalViewMode{
        padding: 2rem;
    }
    ._slider{
        order: 1;
    }

    ._zoom{
        padding: .5rem;
        order:2;
    }
    ._container{
        order:3;
    }
}

@media (max-width: 1399.98px) {
    .ProductDetails{
        flex-direction: column;
        ._slider{
            order: 2;
        }
        ._zoom{
            order:1;
            display: flex;
            justify-content: center;
        }
    }
}