@import '../../../styles/colors.scss';

.ProductDetails{
    display: flex;
    height: max-content;
    padding: 2rem;
    background-color:$white-color;
    border-radius: .3rem;
    
    ._img{
        img{
            height: 400px;
        }
    }
}