@import '../../../../styles/colors.scss';

.InstagramCard{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
  
    img{
      transition: transform 0.4s ease;
    }
  
    ._container{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    ._instagramIcon{
      position: absolute;
      width: 30px;
      height: 30px;
      fill:$white-color;
      opacity: 0;
      transition: opacity 0.4s ease;
      z-index: 2;
    }
  
    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $hard-primary-color;
      opacity: 0;
      transition: opacity 0.4s ease;
      z-index: 1;
    }
  
    &:hover{
      &::before{
        opacity: 0.4;
      }
      ._instagramIcon{
        opacity: 1;
      }
      img{
        transform: scale(1.1);
      }
    }
  }