@import '../../../../styles/colors.scss';
@import '../../../../styles/typography.scss';

.StoreLocation{
    display: flex;
    align-items:center;
    gap:.2rem;

    ._MapPinIcon{
        width: 15px;
        height: 18px;
        stroke:$grey-3;
    }
    span{
        font-size: $body-tiny;
        font-weight: $regular;
        color:$grey-3;
    }
}