@import '../../../../../styles/colors.scss';
@import '../../../../../styles/typography.scss';

.ShoppingCartTotal{
    display: flex;
    flex-direction: column;
    border: 1px solid $grey-1;
    border-radius:.3rem;
    background-color:$white-color;
    padding: 1.5rem;
    height: max-content;

    ._navLink{
        text-decoration: none;
        height: 40px;
    }
}

@media (max-width: 1399.98px) {
    .ShoppingCartTotal{
        ._navLink{
            height: 50px;
        }
    }
}
@media (max-width: 991.98px) {
    .ShoppingCartTotal{
        ._navLink{
            height: 40px;
        }
    }
}