@import '../../../../../styles/colors.scss';
@import '../../../../../styles/typography.scss';

.ShoppingCartTotal{
    display: flex;
    flex-direction: column;
    border: 1px solid $grey-1;
    border-radius:.3rem;
    background-color:$white-color;
    padding: 1.5rem;
    height: max-content;

    ._navLink{
        text-decoration: none;
    }
}