@import '../../../../../styles/colors.scss';

.ProductPageContent{
    background-color: $white-color;
    padding-bottom: 2rem;

    ._container{
        display: flex;
        flex-direction: column;

        ._ProductDetailsWide{
            display: flex;
        }
    }
}