@import '../../../styles/colors.scss';

.RatingStars{
    display: flex;

    &._big{
        font-size: 1.8rem;
    }
    &._small{
        font-size: 1rem;
    }

    ._fill{
        color:$warning-color;
    }
    ._empty{
        color:$grey-4;
    }

}
