.Blogs{
    width: 100%;
    display: flex;
    flex-direction: column;

    ._container{
        min-height: 1560px;

        ._cards{
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            overflow: hidden;
        }
    }

    ._pagButtons{
        width: 100%;
        padding-top: 2rem;
        display: flex;

        justify-content: center;
    }
}